@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #6f80a6;
    --secundary-color: #f5f5f5;
    --contorno: 1px solid #ffffff29;
    --box-shadow: 0px 0px 20px 5px #000000b3;
    --title: 2rem;
    --sub-title: 1.02rem;
    --title-card: 1.4rem;
    --font: 1.1rem;
    --font-1: 1rem;
    --font-2:0.9rem;
    --font-3: 0.8rem;
    --border-radius: 3px;
    --transition: all 0.3s ease;
}


body{
    font-family: "Roboto Condensed";
    background-image: url(../assets/img/fundo2.png);
    background-size: 100%;
    background-repeat: repeat;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #313131a3;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #313131cf;
}

header{
    display: flex;
    background: linear-gradient(0deg, #000000, #1b1f28);
    height: 105px;
    justify-content: center;
}

/* logo */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    display: flex;
    width: 150px;
}

/* navegação */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 120px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
    font-size: var(--sub-title);
    font-weight: 500;
    transition: var(--transition);
}

nav ul li a:hover{
    color: #c3c3c3;
    text-decoration: underline;
}

.active{
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: underline;
}

.active:hover{
    color: var(--primary-color);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secundary-color);
    transition: var(--transition);
}

/* configurações */
#conf{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 20px;
    gap: 10px;
}

#btn-download{
    width: 110px;
    height: 25px;
    border: none;
    color: var(--secundary-color);
    align-items: center;
    justify-content: center;
    background: #59823d;
    color: #eaeaea;
    cursor: pointer;
    transition: var(--transition);
}

#btn-download:hover{
    color: #fff;
    background: #43632e;
}

#btn-login{
    text-decoration: none;
    color: #c3c3c3;
    font-size: var(--font-2);
    font-weight: 400;
}

#btn-login:hover{
    color: #fff;
}

#barra{
    color: #c3c3c3;
    font-size: var(--font-1);
    font-weight: 400;
    cursor: default;
}

#idioma{
    background: #000000;
    color: #c3c3c3;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#idioma:hover{
    color: #fff;
}

/* hero */
#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/img/fundo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* menu barra */
#ctn-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    background: #293548d8;
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    border: var(--contorno);
    box-shadow: var(--box-shadow);
}

#menu a{
    text-decoration: none;
    color: var(--secundary-color);
    padding: 9px 20px;
}

#menu a:hover{
    background: linear-gradient(90deg, #4062a8b3, #00000000);
}

#ctn-buscar{
    display: flex;
    height: 30px;
}

#buscar{
    margin-right: 4px;
    display: flex;
    background-color: #83889d25;
    padding: 3px;
    border-radius: var(--border-radius);
}

#txt-buscar{
    width: 150px;
    background: #00000041;
    color: #c3c3c3;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
}

#btn-buscar{
    width: 30px;
    background: #c6c6c625;
    border: none;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

/* carrossel */
#ctn-banner{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carroussel {
    position: relative;
    width: 800px;
    overflow: hidden;
    background: #1e273565;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition);
    border: var(--contorno);
}

.carroussel:hover{
    transform: scale(1.02);
}

.carroussel-container {
    display: flex;
    transition: all 0.8s ease;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    color: var(--secundary-color);
}

#banner .img-destaque img{
    margin: 0;
    width: 300px;
}

#banner .info-destaque{
    padding: 20px 0px 15px 20px;
}

#banner .avaliacao{
    gap: 10px 15px;
}

.carroussel-slide {
    position: relative;
    min-width: 100%;
}

.carroussel-dots {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secundary-color);
    cursor: pointer;
}

.dot.active {
    background-color: var(--primary-color);
}

/* cards */
#ctn-cards{
    margin: 90px 120px 0px 120px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card img{
    border-radius: var(--border-radius);
    display: flex;
    width: 100%;
    height: 100%;
}

.card{
    width: 320px;
    height: 450px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--secundary-color);
    transition: var(--transition);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.info-card{
    display: flex;
    height: 30px;
    margin-top: -30px;
}

.info-card h2{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    background: #384b75;
}

.info-card h3{
    display: flex;
    width: 190px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);
    background: #000000;
}

.info-card h3 span{
    font-size: var(--font-1);
    margin-right: 10px;
    text-decoration: line-through;
    color: #c3c3c3;
}

.title-card h1{
    font-size: var(--title-card);
    color: var(--secundary-color);
    margin-top: -65px;
    margin-left: 15px;
}



#ctn-destaque{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque{
    display: flex;
    align-items: center;
    width: 1060px;
    height: 100%;
    background: #8d8ea43c;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 20px;
}

.img-destaque{
    margin: 0;
    display: flex;
    width: 350px;
    flex-direction: column;
    transition: var(--transition);
    cursor: pointer;
}

.img-destaque:hover{   
    transform: scale(1.02);
}

.img-destaque img{
    display: flex;
}

.info-destaque{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.info-destaque h1{
    font-size: var(--title);
    color: var(--secundary-color);
    font-weight: 600;
}

.info-destaque h2{
    margin-top: 10px;
    font-size: var(--title-card);
    font-weight: 500;
    color: #a6a6a6;
}

.avaliacao{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    align-items: center;
}

.avaliacao h3{
    font-size: var(--font-1);
    width: 130px;
    height: 30px;
    padding: 4px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
    background: #00000061;
    cursor: pointer;
    transition: var(--transition);
}

.avaliacao h3 span{
    color: #59823d;
}

.avaliacao h3:hover{
    transform: scale(1.05);
}

.avaliacao h2{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-2);
    font-weight: 500;
    color: #8f8f8f;
    padding: 10px;
    height: 25px;
    border-radius: var(--border-radius);
    background: #00000061;
    cursor: pointer;
    transition: var(--transition);
}

.avaliacao h2:hover{
    transform: scale(1.05);
}

.buy-destaque{
    margin-top: 50px;
    display: flex;
    justify-content: end;
}

.buy-destaque h2{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font);
    width: 70px;
    height: 30px;
    border-radius: 3px 0px 0px 3px;
    background: #000000ae;
    color: var(--secundary-color);
}

.btn-buy{
    width: 90px;
    height: 30px;
    font-size: var(--sub-title);
    font-weight: 700;
    border-radius: var(--border-radius);
    border: none;
    color: var(--secundary-color);
    background: #43632e;
    box-shadow: 0px 0px 10px 2px #00000066;
    transition: var(--transition);
    cursor: pointer;
}

.btn-buy:hover{
    background: #4f7436;
    transform: scale(1.05);
}

#ctn-descobrir{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);
}

#descobrir{
    width: 1060px;
    background: #1f2024d0;
    border-radius: 10px;
    padding: 40px;
    border: var(--contorno);
    backdrop-filter: blur(2px);
}

#ctn-barra-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #00000047;
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    border: var(--contorno);
    box-shadow: var(--box-shadow);
}

#barra-nav a{
    text-decoration: none;
    color: var(--secundary-color);
    padding: 9px 20px;
}

#barra-nav a:hover{
    background: linear-gradient(90deg, #4062a8b3, #00000000);
}

#ctn-card-descobrir{
    margin-top: 30px;
    padding: 0px 20px 20px 20px;
    overflow:auto;
    height: 900px;
    border-radius: 3px 0px 0px 3px ;
    border: var(--contorno);
    background: #00000047;
}

#ctn-card-descobrir::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

#ctn-card-descobrir::-webkit-scrollbar-thumb {
    background-color: #313131a3;
}

#ctn-card-descobrir::-webkit-scrollbar-thumb:hover {
    background-color: #313131cf;
}

.card-descobrir{
    margin-top: 15px;
    display: flex;
    padding: 20px;
    transition: var(--transition);
    background: #50505020;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: var(--contorno);
    cursor: pointer;
}

.card-descobrir:hover{
    transform: scale(1.02);
}

.card-descobrir img{
    display: flex;
    width: 100px;
}

.conteudo-descobrir{
    padding: 0px 0px 0px 20px;
}

.info-card-descobrir h1{
    font-size: var(--title-card);
}

.info-card-descobrir h2{
    margin: 10px;
    color: #c3c3c3;
    font-size: var(--sub-title);
    font-weight: 500;
}

.conteudo-descobrir .avaliacao{
    margin: 10px;
    gap: 10px;
}

.conteudo-descobrir .avaliacao h2{
    padding: 10px;
    height: 7px;
    background: #393939b9;
}

.conteudo-descobrir .buy-descobrir{
    margin: 0;
    display: flex;
    justify-content: end;
}

.conteudo-descobrir .buy-descobrir h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font);
    width: 70px;
    height: 30px;
    border-radius: 3px 0px 0px 3px;
    background: #000000ae;
    color: var(--secundary-color);
}

footer{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #1b1f28, #000000);
    height: 130px;}

footer img{
    display: flex;
    width: 150px;
}

footer h1{
    margin-top: 30px;
    font-size: var(--font-2);
    font-weight: 400;
    color: var(--secundary-color);
}

footer span a{
    color: var(--secundary-color);
    font-weight: 600;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

@media (max-width: 920px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    nav{
        margin-left: 0px;
        margin-right: 0px;
    }

    nav ul{
        gap: 30px;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        padding: 35px;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0px;
        background-color: #000000ae;
        backdrop-filter: blur(10px);
        transition: var(--transition);
        z-index: 1;
    }

    .nav-links a {
        display: flex;
        font-size: var(--title-card);
        text-decoration: none;
        color: var(--secundary-color);
    }

    .nav-links.active {
        left: 0;
    }

    .mobile-menu {
        display: flex;
        z-index: 1;
    }

    .mobile-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #conf{
        display: none;
    }

    #ctn-menu{
        display: none;
    } 

    #hero{
        background-size: 210%;
    }

    .carroussel{
        width: 95%;
    }

    #ctn-banner{
        display: flex;
        flex-direction: column;
    }

    #banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    #banner .img-destaque{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #banner .info-destaque{
        margin: 0;
        margin-top: 20px;
        padding: 0px;
    }

    #ctn-cards{
        margin: 90px 10px 0px 10px;
        justify-content: space-between;
        gap: 30px 10px;
    }

    .esc{
        display: none;
    }

    .card{
        width: 160px;
        height: 230px;
    }

    .title-card h1{
        display: none;    
    }

    .destaque{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        padding: 20px;
    }

    .img-destaque{
        display: flex;
        align-items: center;
        padding: 0px;
    }

    .img-destaque img{
        display: flex;
        align-items: center;
        width: 300px;
    }

    .info-destaque{
        padding: 10px;
    }

    .avaliacao{
        gap: 10px 15px;
    }

    #ctn-descobrir{
        display: none;
    }
}