@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #6f80a6;
    --secundary-color: #f5f5f5;
    --box-shadow: 0px 0px 0px 0px #1e1e1e;
    --contorno: 1px solid #ffffff29;
    --title: 2rem;
    --title-card: 1.4rem;
    --sub-title: 1.02rem;
    --font-1: 1rem;
    --font-2: 0.8rem;
    --transition: all 0.3s ease;
    --border-radius: 3px;
}

body{
    font-family: "Roboto Condensed";
    background-image: url(../assets/img/fundo2.png);
    background-size: 100%;
    background-repeat: repeat;
}

header{
    display: flex;
    background: linear-gradient(0deg, #000000, #1b1f28);
    height: 105px;
    justify-content: center;
}

/* logo */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    display: flex;
    width: 150px;
}

/* navegação */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 120px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
    font-size: var(--sub-title);
    font-weight: 500;
    transition: var(--transition);
}

nav ul li a:hover{
    color: #c3c3c3;
    text-decoration: underline;
}

.active{
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: underline;
}

.active:hover{
    color: var(--primary-color);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secundary-color);
    transition: var(--transition);
}

/* configurações */
#conf{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 20px;
    gap: 10px;
}

#btn-download{
    width: 110px;
    height: 25px;
    border: none;
    color: var(--secundary-color);
    align-items: center;
    justify-content: center;
    background: #59823d;
    color: #eaeaea;
    cursor: pointer;
    transition: var(--transition);
}

#btn-download:hover{
    color: #fff;
    background: #43632e;
}

#btn-login{
    text-decoration: none;
    color: #c3c3c3;
    font-size: var(--font-2);
    font-weight: 400;
}

#btn-login:hover{
    color: #fff;
}

#barra{
    color: #c3c3c3;
    font-size: var(--font-1);
    font-weight: 400;
    cursor: default;
}

#idioma{
    background: #000000;
    color: #c3c3c3;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#idioma:hover{
    color: #fff;
}

/* hero */
#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/img/fundo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* menu barra */
#ctn-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 880;
    background: linear-gradient(90deg, #4a61829c, #2c3b50d4);
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px 5px #0000005e;
}

#menu a{
    text-decoration: none;
    color: var(--secundary-color);
    padding: 9px 15px;
}

#menu a:hover{
    background: linear-gradient(90deg, #4062a8b3, #00000000);
}

#ctn-buscar{
    display: flex;
    height: 30px;
}

#buscar{
    margin-right: 4px;
    display: flex;
    background-color: #83889d25;
    padding: 3px;
    border-radius: var(--border-radius);
}

#txt-buscar{
    width: 150px;
    background: #00000041;
    color: #c3c3c3;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
}

#btn-buscar{
    width: 30px;
    background: #c6c6c625;
    border: none;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

/* carrossel */
#ctn-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carroussel {
    margin-top: 60px;
    position: relative;
    width: 800px;
    overflow: hidden;
    background: #41577666;
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px 5px #000000e9;
}

.carroussel-container {
    display: flex;
    transition: all 0.8s ease;
}

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    color: var(--secundary-color);
}

#banner h1{
    font-size: var(--title);
    font-weight: 500;
}

#banner h2{
    margin-top: 15px;
    font-size: var(--sub-title);
    font-weight: 400;
}

.carroussel-slide {
    position: relative;
    min-width: 100%;
}

.carroussel-dots {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secundary-color);
    cursor: pointer;
}

.dot.active {
    background-color: var(--primary-color);
}

.btn{
    width: 130px;
    height: 35px;
    border:  none;
    background: var(--secundary-color);
    color:  #000;
    font-size: var(--font-1);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 30px;
    border-radius: var(--border-radius);
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px #00000033;
}

/* cards */
#ctn-cards{
    margin: 90px 120px 0px 120px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card img{
    border-radius: var(--border-radius);
    display: flex;
    width: 100%;
    height: 100%;
}

.esc{
    margin-top: -450px;
    display: flex;
    background-color: #000;
}

.esc .blur{
    background: linear-gradient(0deg, #000000b2, #00000000);
    width: 320px;
    height: 450px;
}

.card{
    width: 320px;
    height: 450px;
    border-radius: var(--border-radius);
    border: var(--contorno);
    box-shadow: 0px 0px 20px 5px #0000009d;
    color: var(--secundary-color);
    transition: var(--transition);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.info-card{
    display: flex;
    height: 30px;
    margin-top: -29px;
}

.info-card h2{
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
    background: #384b75;
}

.info-card h3{
    display: flex;
    width: 100px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.play-card h1{
    font-size: var(--title-card);
    color: var(--secundary-color);
    margin-top: -65px;
    margin-left: 15px;
}

#ctn-destaque{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#destaque{
    width: 1060px;
    height: 500px;
    background: #8d8ea448;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}


@media (max-width: 920px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    nav{
        margin-left: 0px;
        margin-right: 0px;
    }

    nav ul{
        gap: 30px;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        padding: 35px;
        right: -100%;
        width: 100%;
        height: 100vh;
        top: 0px;
        background-color: #000000ae;
        backdrop-filter: blur(10px);
        transition: var(--transition);
        z-index: 1;
    }

    .nav-links a {
        display: flex;
        font-size: var(--title-card);
        text-decoration: none;
        color: var(--secundary-color);
    }

    .nav-links.active {
        left: 0;
    }

    .mobile-menu {
        display: flex;
        z-index: 1;
    }

    .mobile-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #conf{
        display: none;
    }

    #ctn-menu{
        display: none;
    } 

    #hero{
        background-size: 210%;
    }

    .carroussel{
        width: 95%;
    }

    #ctn-cards{
        margin: 90px 10px 0px 10px;
        justify-content: space-between;
        gap: 30px 10px;
    }

    .esc{
        display: none;
    }

    .card{
        width: 160px;
        height: 230px;
    }

    .play-card h1{
        display: none;    
    }

    #destaque{
        width: 95%;

    }

}